
{% include helpers/get-cakelogs-for-person person=person %}
{% include helpers/get-tags-for-cakelogs cakelogs=cakelogs %}

<!-- Person -->
<div>
    {% if person.image %}
        <img src="image/person/{{person.image}}" alt="{{person.name}}" width="40" height="40" class="person-image"/>
    {% endif %}
    <h3>
        {{person.name}}
    </h3>
    <p>
        Brought in cakes {{cakelogs | size}} times.
    </p>
    {% unless tags == empty %}
        <ul class="tag-list">
            {% for tag in tags %}
                <li>{{tag}}</li>
            {% endfor %}
        </ul>
    {% endunless %}
</div>
