<h2>The 10 Cakemandments</h2>

<p>
  I am the Lord thy Cake Log.
</p>

<ol>
  <li>
    Thou shalt have no other logs before me.
  </li>
  <li>
    Thou shalt not make unto thee any graven image or any graven cake or any image of graven cake.
  </li>
  <li>
    Thou shalt not take the name of the Lord thy Cake Log in vain.
  </li>
  <li>
    Remember the Friday lunchtimes, to keep them holy.
  </li>
  <li>
    Honour thy cakes and thy logs.
  </li>
  <li>
    Thou shalt not murder cake.
  </li>
  <li>
    Thou shalt not commit adultery with another person's cake.
  </li>
  <li>
    Thou shalt not steal cake.
  </li>
  <li>
    Thou shalt not bear false witness in the cake log.
  </li>
  <li>
    Thou shalt not covet thy neighbour's cakes or thy neighbour's logs.
  </li>
</ol>

