<!DOCTYPE html>
<html lang="en-GB">
<head>

    <!-- Page meta-information -->
    <meta charset="utf-8"/>
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.description}}"/>

    <!-- Styles -->
    <meta name="viewport" content="width=device-width"/>
    <!--[if gt IE 7]><!-->
        <link rel="stylesheet" href="asset/style/site.css"/>
    <!--<![endif]-->

</head>
<body>

    <div class="page">

        <div role="banner" class="header">
            <header>
                {% include site/header.html %}
            </header>
        </div>

        <div role="main" class="main">
            {{content}}
        </div>

        <div role="contentinfo" class="footer">
            <footer>
                {% include site/footer.html %}
            </footer>
        </div>

    </div>

</body>
</html>
